.main-header {
  background-color: transparent;
  color: #fff;
  height: var(--header-height);
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 2em;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  width: 100%;
  body:not(.home) & {
    position: relative;
    background-color: var(--header-background);
  }
  @include from(l) {
    padding: 0 40px;
  }
  svg {
    fill: #fff;
    width: 2em;
    height: 2em;
  }
  > * {
    // display: none;
  }
  .car {
    width: 1.9em;
    height: 1.9em;
  }
  .main-logo {
    width: 110px;
  }
}
