.slider-page {
  height: auto;
  padding: 10% 5% 15% 5%;
  background: url(../img/weight.jpg) center / cover no-repeat;
  position: relative;
}

.slide-container {
  width: 100%;
  height: calc(70vw);
  position: relative;
  background: #000 !important;
  @include from(l) {
    height: calc(45vw);
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    display: none;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      opacity: 0.6;
      height: 70vw;
      @include from(l) {
        height: 45vw;
      }
    }
    .slide-text {
      margin: 0 !important;
      color: #fff;
      background-color: rgba(#000, 0.8);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      font-size: 100%;
      text-align: center;
      padding: 1em;
      @include from(l) {
        font-size: 130%;
        text-align: right;
        align-items: flex-end;
        padding: 2rem 3% 3 rem 20%;
        h3 {
          font-size: 140%;
          text-align: right;
        }
      }
    }
    //   position: relative;
    //   width: 100%;

    //   color: #fff;
    //   background-color: rgba(#000, 1);
    //   padding: 1em;
    //   text-align: center;
    //   font-size: 80%;
    //   @include from(l) {
    //     font-size: 120%;
    //     bottom: 0;
    //     width: 100%;
    //     // padding: 3% 10%;
    //     text-align: right;
    //     left: 50%;
    //     transform: translateX(-50%);
    //   }
    // }
    &.active {
      position: relative;
      z-index: 10;
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
}
.slider-arrow {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  cursor: pointer;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    @include to(l) {
      width: auto;
      height: 5em;
    }
  }
}
.slide-right {
  right: 0;
  left: unset;
  img {
    left: unset;
    right: 10%;
  }
}
footer.ben {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 15;
  @include from(l) {
    text-align: right !important;
    left: unset;
    right: -5%;
  }
}
