.slide-container {
  // display: none;
  position: relative;
}
.slider-page {
  height: auto;
  padding: 3em 3em 7em;
  background: url(../img/benefit-back-50.jpg) center / cover no-repeat;
  position: relative;
  min-height: 300px;
  overflow: hidden;
  @include from(l) {
    padding: 5% 5% 10%;
  }
}
footer.ben {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
.slide-text {
  background: rgba(#000, 0.7);
  padding: 1em 0.5em 2em;
  color: #fff;
  text-align: center;
  font-family: $heading-font;

  @include from(l) {
    padding: 2rem 2rem 4rem 10%;
    text-align: right;
    h3 {
      font-size: 40px;
      font-weight: normal;
    }
    p {
      font-size: 30px;
    }
  }
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  // background: lime;
  width: 50%;
  padding: 0 1em;
  z-index: 50;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2%;
  padding-left: 2%;
  &.right {
    // background: tomato;
    left: unset;
    right: 0;
    justify-content: flex-end;
  }
  img {
    @include to(l) {
      width: auto;
      height: 5rem;
    }
  }
}
.slide {
  position: absolute !important;
  top: 0;
  left: -500vw;
  width: 100%;
  height: auto;
  margin: 0 auto;
  img {
    width: 100%;
  }
  &.active {
    position: relative !important;
    left: 0;
    // top: 0;
  }
}
footer.ben {
  text-align: center;
  padding-right: 2%;
  @include from(l) {
    text-align: right;
  }
}
.bio-page {
  background: url(../img/bio-back-50.jpg) center / cover no-repeat;
  // min-height: 120vh;
  padding: 3em 3em 7em;
  overflow: hidden;
  color: #fff;
  text-align: center;
  position: relative;
  @include from(l) {
    padding: 13% 10% 16%;
  }
}
.bio-content {
  padding: 0 1em;
  max-width: 800px;
  margin: 0 auto;
  h3 {
    font-size: 1.5em;
    @include from(l) {
      font-size: 50px;
    }
  }
  p {
    font-size: 1.2em;
    line-height: 1.2;
    @include from(l) {
      font-size: 30px;
    }
  }
}
.bio__name {
  margin-bottom: 0;
}
