@font-face {
  font-family: 'Futura PT Book';
  src: url('fonts/FuturaPT-Book.woff2') format('woff2'),
    url('fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Variable Concept';
  src: url('fonts/Minion-Variable-Concept.eot');
  src: url('fonts/Minion-Variable-Concept.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Minion-Variable-Concept.woff2') format('woff2'),
    url('fonts/Minion-Variable-Concept.woff') format('woff'),
    url('fonts/Minion-Variable-Concept.ttf') format('truetype'),
    url('fonts/Minion-Variable-Concept.svg#Minion Variable Concept')
      format('svg');
}
