nav.main-nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")#main-nav
  .toggle-menu.menu#toggle
    include ../icons/icon-nav
  ul.main-menu.sweepDown#main-menu
    each page in pages
      li.main-menu__item(itemprop="url")
          a.main-menu__link(href=page.url itemprop="name")= page.title
            if page.child.length > 0
              ul 
                each page2 in page.child
                  li: a(href= page2.url)= page2.title
.car(itemprop="url")
  a.main-menu__link(href="car" itemprop="name"): img(src="img/car_1.svg", alt="alt")
