.section_benefits {
  height: 210vh;
  background: url(../img/benefit-back-50.jpg) center / cover no-repeat;
  color: #fff;
  padding: 11% 13.2% 1em;
  overflow: hidden;
  position: relative;
  @media screen and (min-height: 800px) {
    height: 180vh;
  }
  @media screen and (max-width: 780px) {
    height: 95vh;
  }
  footer.ben {
    margin-bottom: 0;
    position: absolute;
    bottom: 26px;
    right: 32px;
    z-index: 100;
    color: #fff;
    font-size: 14px;
    @include to(l) {
      font-size: 14px;
      right: 50%;
      transform: translateX(50%);
      width: 50%;
      text-align: center;
    }
  }
}
.slide-text {
  padding: 2rem 2em 2rem 3rem;
  background-color: rgba(#000, 0.75);
  text-align: right;
  // height: calc((var(--text-highlight) * 1px) + 2rem);
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // white-space: pre-wrap;
  @include to(l) {
    padding: 1rem 1rem;
    min-height: 300px;
    justify-content: flex-start;
    min-height: unset;
  }
  h3 {
    font-size: 25px;
    font-family: 'Minion Variable Concept', 'sans-serif' !important;
    @include to(l) {
      font-size: 1.2em;
      text-align: center;
    }
  }
  p {
    font-size: 140%;
    line-height: 1.2;
    @include to(l) {
      font-size: 0.9em;
      text-align: center;
    }
  }
}
.image {
  position: relative;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 100;
  transform: translateY(-50%);
  // background-color: rgba(lime, 0.5);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  @include to(l) {
    top: 100%;
  }
  img {
    transform: translateX(calc(-100% - 2em));
    cursor: pointer;
    @include to(m) {
      width: auto;
      height: 5rem;
      transform: translateX(calc(-100% - 1em));
    }
  }
  &.right {
    // background-color: rgba(tomato, 0.5);
    left: unset;
    right: 0%;
    justify-content: flex-end;
    img {
      transform: translateX(calc(100% + 2em));
      @include to(m) {
        transform: translateX(calc(-100% + 2.3em));
      }
    }
  }
}
.slide {
  position: absolute;
  top: 0;
  left: -200vw;
  display: none;
  &.active {
    position: relative !important;
    left: 0;
    display: block;
  }
}
.slider-container {
  position: relative;
}
