.home__banner {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
    transform: scale(1.05);
    &.show {
      opacity: 1;
      z-index: 10;
      animation: show 10s forwards;
      @keyframes show {
        to {
          transform: scale(1);
        }
      }
    }
  }
}
.home__text {
  position: absolute;
  top: 50%;
  left: 107px;
  z-index: 100;
  color: #fff;
  transform: translateY(-50%);
  @include to(l) {
    left: 0;
    width: 100%;
    padding: 0 1em;
  }
  h1 {
    // line-height: 1.1;
    font-size: 40px;
    margin-bottom: 0.5rem;
    @include to(l) {
      font-size: 60px;
    }
  }
  p {
    // line-height: 1.1;
    font-size: 25px;
    @include to(l) {
      font-size: 36px;
    }
  }
  a {
    font-size: 20px;
    text-decoration: underline;
    @include to(l) {
      font-size: 16px;
    }
  }
}
.home__footer {
  margin-bottom: 0;
  position: absolute;
  bottom: 26px;
  right: 32px;
  z-index: 100;
  color: #fff;
  font-size: 22px;
  @include to(l) {
    width: 100%;
    padding: 0 1em;
    text-align: center;
    font-size: 18px;
    right: 0;
  }
}
