extends ../config/template
append config


block main
  section.page-title 
    h1(data-aos="fade-right") SHOP
    p(data-aos="fade-left") Discover the different flavors of our products.
  section.banner-page
    //- img(src="img/banner_store01.jpg", alt="Banner Store")
    +img("banner-shop","banner_store01","jpg","banner")
    .banner__text
      h2 Tortilla Kits
      p Every kit includes 4 dozen tortillas.<br class ="br">You can also create a custom kit of 4 donzens with the<br class ="br">flavors of your preference, just click on “CUSTOM KIT”.<br class ="br">Once you complete your kit, it will be added<br class ="br">to your cart
  section.products
    a(href="#").view-cart VIEW/EDIT CART
    .products-container.glide
      div(data-glide-el="track" class="glide__track")
        ul.glide__slides
          each item, i in products
            li.glide__slide
              figure.products__item 
                img(src=`img/${item.img}`)
                figcaption=item.name
                .item-action 
                  button.btn-store(type='button') 4 DOZENS
                  .youKit.btn-store
                    span YOUR KIT
                    button +
                    input.cout(name="count" value="0")
                    button -
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            img(src="img/arrow-left.png", alt="")
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            img(src="img/arrow-right.png", alt="")
          </button>
        </div>
  section.section-bottom 
    p Frozen Tortillas that can be thrown<br class ="br">in the oven and make delicious Tostadas!
    footer 
      span © 2021, Ez Oats by Cinthya - 
      a(href="#") Refund Policy
  script.
      //- AOS.init();
      if(document.querySelector('.glide')){
        new Glide('.glide',{
          type: "carousel",
          perView:3,
          autoplay:5000,
          hoverpause: false,
          breakpoints: {
            800: {
              perView: 2
            },
            600: {
              perView: 1
            }
          }
        }).mount()
      }
