-let pageTitle = 'Home'
-let siteName = 'Boilerplate 2020'
-let twitterAccount = '@sigmapcs'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'Shop',
      url: '/Shop',
      child: []
    },
    {
      title: 'Benefits',
      url: '/benefits',
      child: []
    }
  ]
