-let pageTitle = 'Home'
-let siteName = 'Ez Oats by Cinthya'
-let twitterAccount = '@ezoats'
-let pageDescription = 'Oatmeal products for vegans and healthier carb alternatives and for diabetics'
-let pageImage = 'https://i.ibb.co/fDM1BkK/chipotle-50.jpg'
-
  let pages = [
    {
      title: 'Home',
      url: './',
      child: []
    },
    {
      title: 'Shop',
      url: 'shop.html',
      child: []
    },
    {
      title: 'Benefits',
      url: 'benefits.html',
      child: []
    }
  ]
